## Challenge #1

1 Download the data into a data frame. Set the index to be the entity column. Remove the year, Banana values, type, and Chart? columns.

2 Three  columns contain pre-computed banana scores for kg, calories, and protein. For each of these columns, show the 10 highest-scoring food products.


3 Which foods, if any, have the highest banana score on all three lists?

4 Create a new column, named Bananas index (land use 1000 kcal), calculating that food item's use of land for every 1,000 kcal. Which 10 foods have the highest score? Do any appear on the three previous lists?

5 What kind of cheese has the highest banana score per 1,000 kcal?

6 Show the correlations among the four computed banana scores. Which values seem to correlate most highly?

7 Highlight any correlations in the range 0.8 to 0.99 using a different color.

In [102]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [103]:
#1 Download the data into a data frame. Set the index to be the entity column. Remove the year, Banana values, type, and Chart? columns.
df = (pd.
      read_csv('bananaindex.csv',
                index_col='entity'
                )
    .drop(['year', 'type', 'Chart?','Banana values','Unnamed: 16'], axis = 'columns')                        
    #.drop(df.filter(regex = '^Banana').columns, axis= 'columns')
)
df.head(5)

,emissions_kg,emissions_1000kcal,emissions_100g_protein,emissions_100g_fat,land_use_kg,land_use_1000kcal,Land use per 100 grams of protein,Land use per 100 grams of fat,Bananas index (kg),Bananas index (1000 kcalories),Bananas index (100g protein)
entity,,,,,,,,,,,
Ale,0.488690,0.317338,0.878525,2.424209,0.811485,0.601152,1.577687,3.065766,0.559558,0.362340,0.113771
Almond butter,0.387011,0.067265,0.207599,0.079103,7.683045,1.296870,3.608433,1.495297,0.443134,0.076804,0.026885
Almond milk,0.655888,2.222230,13.595512,4.057470,1.370106,2.675063,12.687839,4.600530,0.751002,2.537364,1.760651
Almonds,0.602368,0.105029,0.328335,0.119361,8.230927,1.423376,4.261040,1.610136,0.689721,0.119923,0.042520
Apple juice,0.458378,0.955184,29.152212,19.754980,0.660629,1.382839,43.232158,26.246743,0.524851,1.090638,3.775280

In [104]:
df.describe()

,emissions_kg,emissions_1000kcal,emissions_100g_protein,emissions_100g_fat,land_use_kg,land_use_1000kcal,Land use per 100 grams of protein,Land use per 100 grams of fat,Bananas index (kg),Bananas index (1000 kcalories),Bananas index (100g protein)
count,160.000000,160.000000,158.000000,160.000000,160.000000,160.000000,158.000000,160.000000,160.000000,160.000000,160.000000
mean,6.936928,4.188070,12.344095,23.150107,13.898771,6.926527,15.143724,28.478627,7.942899,4.781979,1.578607
std,15.182287,8.241275,26.924422,47.259550,45.260647,22.730966,28.171820,57.978954,17.383975,9.409969,3.469354
min,0.207276,0.067265,0.207599,0.079103,0.395357,0.427187,0.686572,1.032875,0.237335,0.076804,0.000000
25%,0.959064,0.553702,2.411551,2.787317,1.794341,1.218677,4.348589,4.597654,1.098145,0.632222,0.306258
50%,2.044956,1.208088,5.285952,7.564917,3.475277,2.148466,7.825508,9.806360,2.341509,1.379406,0.669045
75%,5.231546,4.663006,10.815254,20.340385,9.414903,4.596899,13.350834,27.270979,5.990209,5.324266,1.382850
max,129.747715,68.095953,257.293857,348.489652,427.331126,223.690135,211.381205,478.803717,148.563324,77.752629,33.320155

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 160 entries, Ale to Yoghurt
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   emissions_kg                       160 non-null    float64
 1   emissions_1000kcal                 160 non-null    float64
 2   emissions_100g_protein             158 non-null    float64
 3   emissions_100g_fat                 160 non-null    float64
 4   land_use_kg                        160 non-null    float64
 5   land_use_1000kcal                  160 non-null    float64
 6   Land use per 100 grams of protein  158 non-null    float64
 7   Land use per 100 grams of fat      160 non-null    float64
 8   Bananas index (kg)                 160 non-null    float64
 9   Bananas index (1000 kcalories)     160 non-null    float64
 10  Bananas index (100g protein)       160 non-null    float64
dtypes: float64(11)
memory usage: 15.0+ KB

In [106]:
import sys
sys.version

'3.13.0 (tags/v3.13.0:60403a5, Oct  7 2024, 09:38:07) [MSC v.1941 64 bit (AMD64)]'

In [107]:
df.shape

(160, 11)

In [108]:
#2 Three  columns contain pre-computed banana scores for kg, calories, and protein. For each of these columns, show the 10 highest-scoring food products.

for column_name in df.filter(regex=r'^Banana').columns:
    print(column_name)
    print(df[column_name].nlargest(10))
    print()

Bananas index (kg)
entity
Beef steak         148.563324
Beef mince         108.816189
Beef meatballs      81.052853
Beef burger         61.803856
Lamb chops          35.383303
Lamb (leg)          35.198904
Lamb burgers        30.833345
Cottage cheese      28.944313
Parmesan cheese     27.499275
Prawns              23.943772
Name: Bananas index (kg), dtype: float64

Bananas index (1000 kcalories)
entity
Beef steak        77.752629
Beef mince        54.049393
Beef meatballs    35.782826
Cottage cheese    33.508657
Prawns            30.063042
Lettuce           28.915534
Raspberries       28.105624
Beef burger       25.011498
Lamb (leg)        17.335509
Coconut milk      14.670763
Name: Bananas index (1000 kcalories), dtype: float64

Bananas index (100g protein)
entity
Coconut milk      33.320155
Sugar             20.685802
Grapes            15.128521
Beef steak         8.312805
Raspberries        7.878815
Beef mince         6.878002
Marmalade          6.495684
Butter             6.192303
Lettuce            5.173570
Beef meatballs     4.612929
Name: Bananas index (100g protein), dtype: float64

In [109]:
#3 Which foods, if any, have the highest banana score on all three lists?

In [110]:
results = []
for column_name in df.filter(regex=r'^Banana').columns:
    results.append(df[column_name].nlargest(10).index)
results    
#df= pd.DataFrame(results)

[Index(['Beef steak', 'Beef mince', 'Beef meatballs', 'Beef burger',
        'Lamb chops', 'Lamb (leg)', 'Lamb burgers', 'Cottage cheese',
        'Parmesan cheese', 'Prawns'],
       dtype='object', name='entity'),
 Index(['Beef steak', 'Beef mince', 'Beef meatballs', 'Cottage cheese',
        'Prawns', 'Lettuce', 'Raspberries', 'Beef burger', 'Lamb (leg)',
        'Coconut milk'],
       dtype='object', name='entity'),
 Index(['Coconut milk', 'Sugar', 'Grapes', 'Beef steak', 'Raspberries',
        'Beef mince', 'Marmalade', 'Butter', 'Lettuce', 'Beef meatballs'],
       dtype='object', name='entity')]

In [111]:
results[0].intersection(results[1])

Index(['Beef steak', 'Beef mince', 'Beef meatballs', 'Beef burger',
       'Lamb (leg)', 'Cottage cheese', 'Prawns'],
      dtype='object', name='entity')

In [112]:
#df=df.transpose()
#df

In [113]:
final_intersection = results[0]
for one_result_index in results[1:]:
    final_intersection = final_intersection.intersection(one_result_index)

final_intersection

Index(['Beef steak', 'Beef mince', 'Beef meatballs'], dtype='object', name='entity')

In [119]:
#4 Create a new column, named Bananas index (land use 1000 kcal), calculating that food item's use of land for every 1,000 kcal. Which 10 foods have the highest score? Do any appear on the three previous lists?
df['Bananas index (land use 1000 kcal)']=df['land_use_1000kcal']
df['Bananas index (land use 1000 kcal)'].nlargest(10)

entity
Beef steak          223.690135
Beef mince          147.166781
Beef meatballs       94.463012
Beef burger          54.560874
Cottage cheese       34.694337
Lettuce              34.681560
Lamb (leg)           21.444985
Lentils              20.535191
Lamb chops           16.711250
Chilli con carne     16.398791
Name: Bananas index (land use 1000 kcal), dtype: float64

In [121]:
df['Bananas index (land use 1000 kcal)']=df['land_use_1000kcal']/df['Bananas index (1000 kcalories)']

In [122]:
df['Bananas index (land use 1000 kcal)']

entity
Ale                1.659085
Almond butter     16.885538
Almond milk        1.054268
Almonds           11.869108
Apple juice        1.267917
                    ...
Tortilla wraps     2.178627
Tuna               0.368453
Walnuts            4.114198
Watermelon         0.930070
Yoghurt            0.905311
Name: Bananas index (land use 1000 kcal), Length: 160, dtype: float64

In [ ]:
(
    df
    .assign(bananas_land_use_100_kcal = lambda df_: df_['land_use_1000kcal'] / df['Bananas index (1000 kcalories)'])
['bananas_land_use_100_kcal']
.nlargest(10)
)

entity
Almond butter      16.885538
Almonds            11.869108
Beans               9.698478
Lentils             9.160004
Chickpeas           8.706410
Garden peas         5.775405
Meat-free mince     5.506117
Falafels            5.369652
Sunflower seeds     4.969843
Cashew nuts         4.815795
Name: bananas_land_use_100_kcal, dtype: float64

In [126]:
(
    df
    .assign(bananas_land_use_100_kcal = df['land_use_1000kcal'] / df['Bananas index (1000 kcalories)'])
['bananas_land_use_100_kcal']
.nlargest(10)
)

entity
Almond butter      16.885538
Almonds            11.869108
Beans               9.698478
Lentils             9.160004
Chickpeas           8.706410
Garden peas         5.775405
Meat-free mince     5.506117
Falafels            5.369652
Sunflower seeds     4.969843
Cashew nuts         4.815795
Name: bananas_land_use_100_kcal, dtype: float64

In [142]:
#5 What kind of cheese has the highest banana score per 1,000 kcal?
(
    df.filter(like='heese', axis ='rows')
    ['Bananas index (1000 kcalories)']
    .sort_values(ascending=False)
)

entity
Cottage cheese          33.508657
Mozzarella cheese        7.723795
Parmesan cheese          7.272295
Goat’s cheese            7.102344
Blue cheese              6.980327
Cheddar cheese           6.172845
Halloumi cheese          6.031632
Macaroni cheese          5.989042
Ricotta cheese           5.939072
Feta cheese              5.757135
Chocolate cheesecake     1.368605
Cheesecake               0.798615
Name: Bananas index (1000 kcalories), dtype: float64

In [146]:
#6 Show the correlations among the four computed banana scores. Which values seem to correlate most highly?
(
    df.assign(bananas_land_use_100_kcal = lambda df_: df_['land_use_1000kcal'] / df['Bananas index (1000 kcalories)'])
    .filter(like='anana')
    .corr()
)

,Bananas index (kg),Bananas index (1000 kcalories),Bananas index (100g protein),Bananas index (land use 1000 kcal),bananas_land_use_100_kcal
Bananas index (kg),1.000000,0.882639,0.224555,-0.047357,-0.047357
Bananas index (1000 kcalories),0.882639,1.000000,0.368001,-0.123671,-0.123671
Bananas index (100g protein),0.224555,0.368001,1.000000,-0.187997,-0.187997
Bananas index (land use 1000 kcal),-0.047357,-0.123671,-0.187997,1.000000,1.000000
bananas_land_use_100_kcal,-0.047357,-0.123671,-0.187997,1.000000,1.000000

In [151]:
#7 Highlight any correlations in the range 0.8 to 0.99 using a different color.
(
    df.assign(bananas_land_use_100_kcal = lambda df_: df_['land_use_1000kcal'] / df['Bananas index (1000 kcalories)'])
    .filter(like='anana')
    .corr()
    .style
    .highlight_between(left=0.8, right=0.99, color='#abcdef')
    .highlight_between(left=-1, right=0.3, color='#dd0000')
   
)